.absolute {
    position: absolute!important;
}

.badge-large {
    font-size: 90%;
}

.behind {
    position: absolute;
    z-index: -9999;
}

.brand-text {
    position: absolute;
    bottom: 12px;
}

.border-radius-10px{
    border-radius: 10px;
}

.brand-image {
    opacity: 1!important;
}

.brand-text h3 {
    margin: 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators .active{
    background-color: #000;
}

.cursor-pointer{
    cursor: pointer;
}

.front{
    z-index: 10;
}

.margin0 {
    margin: 0px;
}

.menu-hamburguer {
    padding-left: 5px!important;
    padding-right: 15px!important;
}

.min-width-20vw {
    min-width: 20vw!important;
}

.navbar {
    background-image: linear-gradient(to right, #247cb4 , #54bbab );
}

.nav-search-bar {
    min-width: 30vw;
}

.min-width-95{
    min-width: 95%;
}

.padding0 {
    padding: 0px;
}

.padding1220 {
    padding: 12px 20px!important;
}

.pontilhado {
	/* background-color: #fff; */
    border-top: 4px dotted #8c8b8b;
    height:1px;
}

.progress-ul{
    position: relative;
    margin: 0px;
    bottom: 27px;
}
.progress-step{
    width: 40px;
    height: 40px;
    border: 2px solid #bebebe;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    line-height: 27px;
    text-align: center;
    font-weight: bold;
    flex: none!important;
}


/* .tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    background-color: #fff;
    border-radius: .25rem;
} */

/* .tooltip-inner {
    background-color: #00cc00;
    }
    .tooltip.bs-tooltip-right .arrow:before {
        border-right-color: #00cc00 !important;
    }
    .tooltip.bs-tooltip-left .arrow:before {
        border-left-color: #00cc00 !important;
    }
    .tooltip.bs-tooltip-bottom .arrow:before {
        border-bottom-color: #00cc00 !important;
    }
    .tooltip.bs-tooltip-top .arrow:before {
        border-top-color: #00cc00 !important;
    } */

.Typeahead-spinner {
    position: absolute;
    top: 5px;
    right: 7px;
    width: 28px;
    height: 28px;
}

.user-image-dropdown {
    min-height: 50px!important;
    max-height: 50px;
    min-width: 50px!important;
    max-width: 50px;
    margin-right: 10px;
    margin-top: 5px;
}

.user-image-resize-50px{
    height: 50px;
    width: 50px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.btnHistorico{
    height : 50px;
}
.btn-gradient {    
    width:50%;
    position: relative;
    display: inline-block;
    left:-20px;
    background: rgba(29, 29, 29, 0.15);
    border-top-right-radius: 90px;
    padding: 8px 24px 8px 14px;
    /* box-shadow: 2px 0px 0px 0px rgba(78, 72, 72, 0.4); */
    /* box-shadow: 2px 0px 0px 0px  rgba(0, 0, 0, 0.15); */
}

.btn-behance{
    border-radius: 10px;
    font-size:23px;
    padding:0px 20px;
    color: #fff;
    background-color: #249eb4;
    border:none;
    justify-content: center;
    align-items: center;
    display: flex;
    width:200px;
    box-shadow: -5px 5px rgba(29, 29, 29, 0.15);

}

.btn-text{
    width:60%;
}

.btn-gradient i{
  font-size:30px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.has-treeview li {
    background-color: rgb(250, 151, 37) !important;
    /* border-radius: 25px; */

}
.has-treeview li p{
    color: white ;
}
.fa-circle{
    color: white !important;
}
.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    }
    .notice-warning {
    border-color: #FEAF20;
    }
    .notice-danger {
    border-color: #d73814;
    }
    .notice-success {
    border-color: #80D651;
}
