.absolute {
    position: absolute!important;
}

.behind {
    position: absolute;
    z-index: -9999;
}

.border-radius-10px{
    border-radius: 10px;
}

.brand-image {
    opacity: 1!important;
}

.brand-link {
    padding: 12px 8px 11px 8px;
}

.brand-text h3 {
    margin: 0;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators .active{
    background-color: #000;
}

.cursor-pointer{
    cursor: pointer;
}

.front{
    z-index: 10;
}

.margin0 {
    margin: 0px;
}

.menu-hamburguer {
    padding-left: 5px!important;
    padding-right: 15px!important;
}

.navbar {
    background-image: linear-gradient(to right, #247cb4 , #54bbab );
}
.min-width-95{
    min-width: 95%;
}

.padding0 {
    padding: 0px;
}

.padding1220 {
    padding: 12px 20px!important;
}

.progress-ul{
    position: relative;
    margin: 0px;
    bottom: 27px;
}
.progress-step{
    width: 40px;
    height: 40px;
    border: 2px solid #bebebe;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    line-height: 27px;
    text-align: center;
    font-weight: bold;
    flex: none!important;
}

.Typeahead-spinner {
    position: absolute;
    top: 5px;
    right: 7px;
    width: 28px;
    height: 28px;
}

.user-image-resize-50px{
    height: 50px;
    width: 50px;
}